{% extends "mysite/base.html" %}

    {% block content %}
    
        <div class="jumbotron">
            <h1 class="display-4">CarService</h1>
            <p class="lead">This is a simple app that enables car owners to book servicings and repairs for their cars from the comfort of their homes. This app was created by Meet Divecha, Ankit Datta & Sheroy Divecha as part of SE Project</p>
            <hr class="my-4">
            <small>Copyright &copy; 2019</small>
        </div>

    {% endblock content %}


