{% extends "mysite/base.html" %}

{% load crispy_forms_tags %}

    {% block content %}

        <div class="card bg-light mb-3 mt-3 mx-auto" style="max-width: 50%;">
        <div class="card-header">Create a Booking</div>
        <div class="card-body">
            <form method="POST">

                {% csrf_token %}

                <fieldset class="form-group">

                    {% comment %} <legend class="border-bottom mb-4">Register</legend> {% endcomment %}

                    {{ form|crispy }}

                </fieldset>

                <button type="submit" class="btn btn-primary">Book Service</button> 

            </form>
        
        </div>
        </div>

    {% endblock content %}